$heeboFont: "Heebo", open sans-serif;
$primary300: #7573F5;
$primary500: #1A15EF;
$primary600: #110ECB;
$primary800: #0A087A;
$secondary300: #FFD67E;
$secondary600: #F7A800;
$terciary300: #FF7393;
$terciary600: #E60036;
$gray1: #D9D9D9;
$tokiWhite: #F3F3F3;
$h2Size: 1.425em;
$subtitleSize: 1.125em;
$bodySize: 1em;
$captionSize: 0.888em;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $tokiWhite;
    font-family: $heeboFont;
}

body{
    padding: 5%;
}

.flex {
    display: flex;
}

a{
    text-decoration: none;
}

h2{
    color:$tokiWhite;
    font-weight: 500;
    font-size: $h2Size;
    line-height: 1.2em;
}

.competencies{
    margin-bottom: 5%;
    &__title{
        color:$primary500;
        font-weight: 500;
        font-size: $subtitleSize;
    }
}

.banner{
    border-radius: 1em;
    padding: 0.75em;
    margin-bottom: 8%;
    
    &#blue{
        background-image: linear-gradient($primary600, $primary300);
    }

    &#yellow{
        background-image: linear-gradient($secondary600, $secondary300);
    }

    &#magenta{
        background-image: linear-gradient($terciary600, $terciary300);
    }

    &__psmall{
        color:$tokiWhite;
        font-weight: 300;
        font-size: $captionSize;
        line-height: 1.128em;
    }
}

.question{
    &__container{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4em;
    }
    &__title{
        color: $primary800;
        font-weight: 400;
        font-size: $bodySize;
        line-height: 1.269em;
        margin-bottom: 0.5em;
    }

    &__psmalll, &__psmallr{
        color:$primary800;
        font-weight: 300;
        font-size: $captionSize;
        line-height: 1.128em;
    }

    &__psmallr{
        text-align: right;
    }
}

.slidercontainer{
    width: 50%;
    justify-content: center;
    
    &__slider{
        width: 100%;
    }
        
    &__values{
        display: flex;
        justify-content: space-between;
        color:$primary800;
        font-weight: 300;
        font-size: $captionSize;
        line-height: 1.128em;
    }
}

.link{
    display: flex;
    justify-content: center;
    background-color: $primary500;
    color: $tokiWhite;
    font-size: $subtitleSize;
    font-weight: 500;
    border-style: solid;
    border-width: 0.063em;
    border-radius: 0.625em;
    padding: 16px 24px;
    width: 100%;
}