$heeboFont: "Heebo", open sans-serif;
$primary100: #D1D0FC;
$primary300: #7573F5;
$primary500: #1A15EF;
$primary600: #110ECB;
$primary800: #0A087A;
$gray2: #7B7B7B;
$tokiWhite: #F3F3F3;
$h2Size: 1.425em;
$subtitleSize: 1.125em;
$bodySize: 1em;
$captionSize: 0.888em;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $tokiWhite;
    font-family: $heeboFont;
}

body{
    padding: 0% 5% 0% 5%;
}

.flex {
    display: flex;
}

a{
    text-decoration: none;
}

h2{
    color:$tokiWhite;
    font-weight: 500;
    font-size: $h2Size;
    line-height: 1.806em;
}

.competencies{
    &__title{
        color:$primary500;
        font-weight: 500;
        font-size: $subtitleSize;
    }
}

.banner{
    background-image: linear-gradient($primary600, $primary300);
    //background-image: url('../img/competenciasCard.png');
    border-radius: 1em;
    padding: 0.75em;
    
    &__psmall{
        color:$tokiWhite;
        font-weight: 300;
        font-size: $captionSize;
        line-height: 1.269em;
    }
}