$heeboFont: "Heebo", open sans-serif;
$tokiWhite: #F3F3F3;
$h2Size: 1.425em;
$subtitleSize: 1.125em;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $heeboFont;
}

body{
    background-image: url('../img/abouttoki1.png');
    background-repeat: no-repeat;
    background-size: auto;
    padding: 15% 5%;
}

h2{
    color:$tokiWhite;
    font-weight: 500;
    font-size: $h2Size;
    line-height: 1.806em;
    margin-bottom: -0.625em;
}
.interactableArea {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
    cursor: pointer;
    opacity: 0;
    z-index: 9999; /* Ensure the areas are on top of other elements */
  }
  
  #leftArea {
    left: 0;
  }
  
  #rightArea {
    right: 0;
  }
  
.main{
    margin-bottom: 100%;
    
    &__logo{
        margin-bottom: -0.625em;
        margin-top: 0.625em;
    }
}

.info{
    &__subtitle{
        color:$tokiWhite;
        font-weight: 500;
        font-size: $subtitleSize;
    }
}
