$heeboFont: "Heebo", open sans-serif;
$primary100: #D1D0FC;
$primary200: #A3A1F9;
$primary300: #7573F5;
$primary500: #1A15EF;
$primary600: #110ECB;
$primary800: #0A087A;
$secondary300: #FFD67E;
$secondary600: #F7A800;
$terciary300: #FF7393;
$terciary600: #E60036;
$gray1: #D9D9D9;
$tokiWhite: #F3F3F3;
$h2Size: 1.425em;
$h3Size: 1.266em;
$subtitleSize: 1.125em;
$bodySize: 1em;
$captionSize: 0.889em;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $tokiWhite;
    font-family: $heeboFont;
}

body{
    padding: 5% 5% 20%;
}

.flex {
    display: flex;
}

a{
    text-decoration: none;
}

.hidden {
    display: none;
  }
ul{
    list-style: none;
}

h2{
    color: $primary500;
    font-size: $h2Size;
    text-align: center;
    font-weight: 500;
}

h3{
    color: $primary500;
    font-size: $h3Size; 
    text-align: center;
    font-weight: 500;
    padding: 1em;
}
p:empty:not(:focus)::before {
    content: attr(data-placeholder);
  }
.profile{
    &__photo{
        display: flex;
        position: relative;
        margin: auto;
        width: 30%;
        margin-bottom: 1em;
        padding-top: 1em;
    }

    &__title{
        color:$primary500;
        font-weight: 500;
        font-size: $subtitleSize;
        margin-bottom: 1.5em;
    }

    
    &__container,&__containerx{
        background-color: $primary100;
        border-radius: 1em;
        margin-bottom: 1.5em;
        padding: 1em;
    }
    
    &__minicardList{
        width: 100%;
        justify-content: center;
        justify-content: space-evenly;
    }
    
    &__minicard{
        background-color: $primary200;
        width: 100%;
        border-radius: 1em;
        margin: 1em;
        padding: 0.75em 1.975em;
    }

    &__subtitle{
        color: $primary500;
        font-size: $subtitleSize; 
        text-align: center;
        font-weight: 500;
        padding-bottom: 0.5em;
    }
    
    &__number,&__numbers{
        color: $tokiWhite;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
    }

    &__psmall, &__pimportant{
        color: $primary500;
        font-size: $captionSize;
        font-weight: 300;
        text-align: center;
        border: 1px solid #ccc;
        padding: 5px;
        cursor: text;
       &:focus{
        outline: solid #7573F5;
       }
    }

    &__body{
        color:$primary800;
        font-weight: 500;
        font-size: $bodySize;
        line-height: 1.269em;
    }

    &__medal{
        padding-right: 0.5em;
    }

    &__image{
        padding-top: 0.5em;
        padding-bottom: 1em;
    }

    &__important{
        display: flex;
        margin: auto;
        width: 95%;
        background-color: $primary200;
        border-radius: 0.5em;
        margin-bottom: 10px;
    }

    &__pimportant{
       text-align: left;
       
    }
}

.link{
    display: flex;
    justify-content: center;
    background-color: $tokiWhite;
    color: $primary500;
    font-size: $subtitleSize;
    font-weight: 500;
    border-style: solid;
    border-width: 0.063em;
    border-radius: 0.625em;
    padding: 16px 24px;
    width: 100%;
}

.nav{
    background-color: $tokiWhite;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &__list{
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
        padding-top: 0.75em;
    }
}

