$heeboFont: "Heebo", open sans-serif;
$primary100: #D1D0FC;
$primary500: #1A15EF;
$primary800: #0A087A;
$tokiWhite: #F3F3F3;
$bodySize: 1em;
$h2Size: 1.425em;
$subtitleSize: 1.125em;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $tokiWhite;
    font-family: $heeboFont;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    height: 100%;
}

.flex, h2, p{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

h2{
    color:$primary500;
    font-weight: 500;
    font-size: $h2Size;
    line-height: 1.806em;
    margin-bottom: 0.438em;
}

p{
    color:$primary800;
    font-weight: 400;
    font-size: $bodySize;
    line-height: 1.269em;
}

.register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__backicon{
        position:absolute;
        left: 5%;
    }

    &__image, &__imageplaceholder{
        margin: auto;
        margin-bottom: 2em;
    }

    &__imageplaceholder{
        margin-top: 2em;
        width: 12.5em;
        object-fit: contain;
    }

    &__image{
        margin-bottom: 2.063em;
    }

    &__inputphoto {
        opacity: 0;
        background-color: aqua;
    }

    &__psmall{
        margin-bottom: 1.25em;
    }

    &__submit{
        background-color: $primary500;
        color: $tokiWhite;
        font-size: $subtitleSize;
        font-weight: 500;
        border-radius: 0.625em;
        padding: 16px 24px;
        width: 100%;
    }
    
    &__chooseavatar{
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 0.688em;
    }

    &__chooseavatar *{
       max-width: 20%;
    }

    &__link {
        text-decoration: underline;
    }
}